<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a new Figure</h1>
    <form action="/figures" method="POST">
      <label>Name:</label>
      <br></br>

      <input type="text" name="figure[name]" id="figure_name">

      <br></br>

      <label>Titles</label>
      <br></br>
      <%Title.all.each do |title|%>
        <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
        <br></br>
      <%end%>

      <br></br>

      <label>Create New Title:</label>
      <br></br>
      <input type="text" name="title[name]" id="new_title">

      <br></br>

      <label>Landmarks</label>
      <br></br>
      <%Landmark.all.each do |landmark|%>
        <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></input>
        <br></br>
      <%end%>

      <br></br>
      <label>Create New Landmark:</label>
      <br></br>
      <label>Name:</label><input type="text" name="landmark[name]" id="new_landmark">
      <label>Year:</label><input type="text" name="landmark[year_completed]">
      <input type="submit" value="Create New Figure">
    </form>

    <br></br>








  </body>
</html>
